@model IEnumerable<POS.Models.AddInventoryDetailViewModel>


<div>
    <h4>Inventario Agregado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID del Registro
        </dt>
        <dd>
            @ViewData["AddInventoryID"]
        </dd>
        <dt>
            Fecha de Registro
        </dt>
        <dd>
            @ViewData["AddInventoryDate"]
        </dd>
        <dt>
            Usuario
        </dt>
        <dd>
            @ViewData["AddInventoryUser"]
        </dd>
    </dl>
</div>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre de Producto
                </th>
                <th>
                    Cantidad Ingresada
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
 <!--   <a asp-action="Edit" asp-route-id="Model.ID">Edit</a> |  -->
    <a asp-action="Index">Back to List</a>
</div>
